input:focus{
    outline: none;
    border: none;   
}

#mainDiv.login h1, #mainDiv.login #loginForm input, .register :not(#continue), #mainDiv.register #registerForm, #loginForm > input::placeholder, #registerForm > input::placeholder{
    color: var(--branco-verde);
}

#loginForm button:hover{
    background-color: #51BD7E;
}

input{
    background-color: #DEDEDE;
    border: 0;
    padding-left: 5%;
    font-size: 90%;
    font-weight: bold;
}

/* register and login */

#loginForm button, #registerForm button, #edit_profile form button, #changePassword form button{
    background-color: #EBFFF1;
    color: rgba(60,129,78,1);
    border: none;
    border-radius: 2em;
}

#registerForm #continue:hover{
    background-color: #51BD7E;
}