/* body */

body{
    position: relative;
    margin: 0;
    display: grid;
    grid-template-columns: 19.1145833333% 1fr 61.734375% 1fr 15.1041666667%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "hd hd hd hd hd"
    "sM . mD . ads"
    "ft ft ft ft ft";
}

#side-menu, #ads, #mainDiv{
    margin-top: 7.5em;
}

/* header */

header{
    width: 100%;
    height: 7.5em;
    grid-area: hd;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "webName topnav";
    position: fixed;
}

header > h1 {
    grid-area: webName;
    margin: 0.25em 0 0 0.5em;
}

#topnav{
    grid-area: topnav;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "search login";
}

.search{
    grid-area: search;
    height: 3em;
    margin: auto 0;
}

#topnav > a{
    grid-area: login;
    margin: auto;
}

/* side Menu */

#side-menu{
    height: 100%;
    width: 19.1145833333%;
    grid-area: sM;
    position: fixed;
    display: flex;
    flex-direction: column;
}

#side-menu.index > *{
    margin-left: 1.40em;
    margin-top: 0.30em;
    font-weight: bold;
}

#side-menu > *:first-child{
    margin-top: 1em;
}

#side-menu.index .hamburger {
    display: block;
}

#side-menu ul {
    color: transparent;
}

#hamburger{
    display: none;
}

#hamburger:checked + .hamburger + ul li{
    padding: 0.6em 0;
    opacity: 1;
    transition: all 1s ease;
}

#side-menu.index li {
    max-height: 0;
    text-align: left;
    opacity: 0;
    transition: all 1s ease;
}

#hamburger, #price{
    display: none;
}

#side-menu.sort form{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(auto, 2em);
    grid-template-areas: 
    "sch sch"
    "a a"
    "a a"
    "a a"
    "btn btn";
}

#side-menu.sort input{
    grid-area: sch;
}

#side-menu.sort button{
    grid-area: btn;
}

/* main Div*/

#mainDiv{
    grid-area: mD;
    padding: 2em 1em 1em 1em;
}

#mainDiv.restaurant{
    display:grid;
    grid-template-rows: 35em auto auto;
    padding:0;
}

#mainDiv.restaurant > *:not(#restaurant){
    padding: 1em;
}

.index{
    display: grid;
    grid-template-rows: 13em auto 1fr;
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    "srch srch"
    "best best"
    "rest api"
}



.register{
    display: grid;
    grid-template-rows: 1em 3em 27em 2em;
}

#registerForm{
    display: grid;
    grid-template-rows: repeat(7, 3em);
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "um um"
    "name name"
    "dois dois"
    "tres tres"
    "q q"
    "c c"
    "s s"
    "cc rr"
}

#registerForm #username{
    grid-area: um;
}

#registerForm #email{
    grid-area: dois;
}

#registerForm #password{
    grid-area: tres;
}

#registerForm #password2{
    grid-area: q;
}

#registerForm #phone{
    grid-area: c;
}

#registerForm #address{
    grid-area: s;
}

#registerForm #name {
    grid-area: name;
}

#registerForm #cancel{
    padding-top: 1em;
    grid-area: cc;
}

#registerForm #continue{
    grid-area: rr;
}


.register > *, #registerForm > *{
    margin: auto;
}

.login{
    display: grid;
    grid-template-rows: 1em 5em 6em 11em 3em;
}

#loginForm{
    display: grid;
    grid-template-rows: repeat(4, 3em);
    grid-template-columns: 110%;
}

.login > *, #loginForm > *{
    margin: auto;
}

.login > label{
    margin-left: 0;
}

#square {
    margin-top: 2em;
    grid-column-start: 1;
    grid-row-start: 1;
}

#search{
    grid-area: srch;
    height: 15em;
    display: grid;
    grid-template-rows: 5em 3em 3em;
}

#search .order, #search h5{
    margin: auto;
}

#search a{
    margin: -.5em auto 0em auto;
}

#search form{
    display: grid;
    grid-template-columns: 85% 15%;
    column-gap: 1em;
}

#search form button{
    justify-self: start;
}

#search form input{
    justify-self: end;
}

#bestRestaurants{
    grid-area: best;
    display: grid;
    grid-template-rows: 15.7068062827% 84.2931937173%;
    grid-template-columns: 93.0143206427% 6.98567935732%;
    grid-template-areas: 
    "title btns"
    "sli sli";
}

#close{
    grid-area: api;
}


/* ads */

#ads{
    grid-area: ads;
    margin: 7.5em auto 0 auto;
    padding: 1em;
}

#ads img{
    margin: 0.5em 0;
}


/* footer */

footer{
    grid-area: ft;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "t dT s"
    "r c s";
    z-index: 60;
}

.teacher{
    grid-area: t;
    margin: 1.5em 0 0 3em;
}

.devTeam{
    grid-area: dT;
    margin: 1.5em auto 0 auto;
}

.rights{
    grid-area: r;
    margin: 0 0 0 3em;
}

.course{
    grid-area: c;
    margin: auto;
}

.socials{
    grid-area: s;
    margin: 1.5em 0 0 30em;
}

/* Mini Restaurant Preview */

#slides{
    grid-area: sli;
}

.miniPreview{
    display: grid;
    grid-template-rows: 9em 1.25em 2.65em 2em 1em;
    grid-template-columns: 86.1244019139% 13.8755980861%;
    grid-template-areas:
    "ig ig"
    "catg ."
    "name rating"
    "addr ."
    "avgPrice .";
    padding: 0em 0.5em;
}

.miniPreview *{
    margin: 0;
}

#bestRestaurants h1{
    grid-area: title;
    margin: auto auto auto 0.5em;
}

.miniPreview :nth-child(1){
    grid-area: ig;
    padding: 0.3em 0em 0.3em 0em;
}

.miniPreview :nth-child(2){
    grid-area: catg;
}

.miniPreview :nth-child(3){
    grid-area: name;
}

.miniPreview :nth-child(4){
    grid-area: rating;
    margin-left: -1em;
}

.miniPreview :nth-child(5){
    grid-area: addr;
}

.miniPreview :nth-child(6){
    grid-area: avgPrice;
}

.slide-content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#controls{
    grid-area: btns;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "btn1 btn2";
    column-gap: 0.25em;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(1){
    grid-area:btn2;
}

#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(2){
    grid-area: btn1;
}

#restaurant article{
    display: grid;  
}

#restaurant article *{
    margin: auto;
}

#restaurant article :nth-child(2){
    font-size: 250%;
    font-weight: bold;
}

#restaurant article :nth-child(3){
    font-size: 175%;
}

#restaurant article :nth-child(4){
    font-size: 125%;
}

#mainDiv.restaurant > #dishes > section{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    margin-top: 4em;
}

#mainDiv.restaurant > #dishes > section > *{
    width: 90%;
}