/* body */

body{
    position: relative;
    margin: 0;
    display: grid;
    grid-template-columns: 19.1145833333% 1fr 61.734375% 1fr 15.1041666667%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "hd hd hd hd hd"
    "sM . mD . ads"
    "ft ft ft ft ft";
}

#side-menu, #ads, #mainDiv{
    margin-top: 7.5em;
}

/* header */

header{
    width: 100%;
    height: 7.5em;
    grid-area: hd;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "webName topnav";
    position: fixed;
}

header > h1 {
    grid-area: webName;
    margin: 0.25em 0 0 0.5em;
}

#topnav{
    grid-area: topnav;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "search login";
}

.search{
    grid-area: search;
    height: 3em;
    margin: auto 0;
}

#topnav > a{
    grid-area: login;
    margin: auto;
}

/* side Menu */

#side-menu{
    height: 100%;
    width: 19.1145833333%;
    grid-area: sM;
    position: fixed;
    display: flex;
    flex-direction: column;
}

#side-menu > *:first-child{
    margin-top: 1em;
}

#side-menu ul{
    color: transparent;
}

/* main Div*/

#mainDiv{
    grid-area: mD;
    padding: 2em 1em 1em 1em;
}

#close{
    grid-area: api;
}


/* ads */

#ads{
    grid-area: ads;
    margin: 7.5em auto 0 auto;
    padding: 1em;
}

#ads img{
    margin: 0.5em 0;
}
