/* body */

body{
    position: relative;
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 2em 6.5fr 2em 1.5fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "hd hd hd hd hd"
    "sM . mD . ads"
    "ft ft ft ft ft";
}

#side-menu, #ads, #mainDiv{
    margin-top: 7.5em;
}

/* header */

header{
    width: 100%;
    height: 7.5em;
    grid-area: hd;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "webName topnav";
    position: fixed;
}

header > h1 {
    grid-area: webName;
    margin: 0.25em 0 0 0.5em;
}

#topnav{
    grid-area: topnav;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "search login";
}

.search{
    grid-area: search;
    height: 3em;
    margin: auto 0;
}

#topnav > a{
    grid-area: login;
    margin: auto;
}

/* side Menu */

#side-menu{
    height: 100%;
    width: 18.35em;
    grid-area: sM;
    position: fixed;
    display: flex;
    flex-direction: column;
}

#side-menu > *{
    margin-left: 1.40em;
    margin-top: 0.30em;
    font-weight: bold;
}

#side-menu > *:first-child{
    margin-top: 1em;
}

#side-menu .hamburger {
    display: block;
}

#side-menu ul {
    color: transparent;
}

#hamburger{
    display: none;
}

#hamburger:checked + .hamburger + ul li{
    padding: 0.6em 0;
    opacity: 1;
    transition: all 1s ease;
}

#side-menu li {
    max-height: 0;
    text-align: left;
    opacity: 0;
    transition: all 1s ease;
}


/* main Div*/

#mainDiv{
    grid-area: mD;
    padding: 2em 1em 1em 1em;
}

.index{
    display: grid;
    grid-template-rows: 13em 1fr;
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    "srch srch"
    "rest api"
}
.register{
    display: grid;
    grid-template-rows: 1em 3em 29em 2em;
}

#registerForm{
    display: grid;
    grid-template-rows: repeat(7, 3em);
    grid-template-columns: 10em 10em;
    grid-template-areas: 
    "um um"
    "dois dois"
    "tres tres"
    "q q"
    "c c"
    "s s"
    "cc rr"

}

#registerForm #Um{
    grid-area: um;
}

#registerForm #Dois{
    grid-area: dois;
}

#registerForm #Tres{
    grid-area: tres;
}

#registerForm #Quatro{
    grid-area: q;
}

#registerForm #Cinco{
    grid-area: c;
}

#registerForm #Seis{
    grid-area: s;
}

#registerForm #cancel{
    padding-top: 1em;
    grid-area: cc;
}

#registerForm #continue{
    grid-area: rr;
}


.register > *, #registerForm > *{
    margin: auto;
}

.login{
    display: grid;
    grid-template-rows: 1em 5em 6em 11em 3em;
}

#loginForm{
    display: grid;
    grid-template-rows: repeat(4, 3em);
    grid-template-columns: 20em;
}

.login > *, #loginForm > *{
    margin: auto;
}

.login > label{
    margin-left: 0;
}

#square {
    margin-top: 2em;
    grid-column-start: 1;
    grid-row-start: 1;
}

#search{
    grid-area: srch;
    height: 15em;
    display: grid;
    grid-template-rows: 5em 3em 3em;
}

#search .order{
    margin: auto;
}

#search .register{
    margin: -1.5em auto 0 auto;
}

#search form{
    display: grid;
    grid-template-columns: 85% 15%;
}

#search form button{
    margin: auto 4em auto auto;
}

#search form input{
    margin: auto auto auto 3em;
}

#bestRestaurants{
    grid-area: rest;
}

#close{
    grid-area: api;
}


/* ads */

#ads{
    grid-area: ads;
    margin: 7.5em auto 0 auto;
}


/* footer */

footer{
    grid-area: ft;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "t dT s"
    "r c s";
    z-index: 60;
}

.teacher{
    grid-area: t;
    margin: 1.5em 0 0 3em;
}

.devTeam{
    grid-area: dT;
    margin: 1.5em auto 0 auto;
}

.rights{
    grid-area: r;
    margin: 0 0 0 3em;
}

.course{
    grid-area: c;
    margin: auto;
}

.socials{
    grid-area: s;
    margin: 1.5em 0 0 30em;
}