/* document */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

body{
    background-color: #DEDEDE;
}

body::-webkit-scrollbar {
    display: none;
}

button{
    font-weight: bold;
    cursor:pointer;
    color: #EBFFF1;
}


/* font */

body, a, input, button, form, body *{
    font-family: 'Poppins';
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

#topnav a, h2{
    color: #EBFFF1; 
}

input[type="text"], input[type="password"]{
    background-color: #DEDEDE;
    border: 0;
    padding: 0;
    font-size: 0.9em;
    font-weight: bold;
}

input[type="text"]:focus, input[type="password"]:focus{
    outline: none;
}

footer{
    font-size: 0.75em;
}

h5{
    color: #2C2C2C;
    text-decoration: underline;
}

.cN, .lname1, .lname2, .nr1, .nr2, .nr3, .c{
    font-weight: bold;
}

/*header*/

header{
    background: linear-gradient(180deg, rgba(60,129,78,1) 0%, rgba(53,181,87,1) 100%);
    color: #EBFFF1;
    vertical-align: middle;
    box-shadow: 5px 10px 18px #888888;
}

header > h1 > a{
    font-size: 2.3em;
    text-decoration: none;
    color: #EBFFF1;
}

.search{
    border-radius: 5em;
}


/* side Menu */

#side-menu{
    background-color: #F3F3F3;
    box-shadow: 5px 10px 18px #888888;
}

a{
    color: #2C2C2C
}


/* ads */

#ads{
    background-color: #F3F3F3;
}


/* main Div */

#mainDiv{
    background-color: #F3F3F3;
}

.order button{
    background-color: #4B9F6D;
    border: 0;
    padding: 0 5em;
    border-radius: 5em;
}

#search form{
    background-color: #F3F3F3;
}

#search form button{
    width: 6em;
    height: 90%;
    border: none;
    padding: 0;
    background-color:#4B9F6D;
    border-radius: 1em;
}

#search form input{
    width: 95%;
    height: 90%;
    border: none;
    padding: 0;
    border-radius:0.5em;
}

#square{
    width: 25em;
    height: 30em;
    background: linear-gradient(180deg, rgba(53,181,87,1) 0%, rgba(60,129,78,1) 100%);
    border-radius: 2em;
}

/* footer */

footer{
    background-color: #2C2C2C;
    color: rgba(255, 255, 255, 0.45);
}

.devTeam{
    text-align: center;
}


/* register and login */

#loginForm input, #registerForm input{
    border: none;
    background-color: transparent;
    border-bottom: 3px solid #EBFFF1;
    text-transform: none;
}

#loginForm button, #registerForm #continue{
    background-color: #EBFFF1;
    color: rgba(60,129,78,1);
    border: none;
    border-radius: 2em;
}

#registerForm #cancel{
    color: #EBFFF1;
}