#newDish{
    display: grid;
    grid-template-rows: 1em 3em 19em 2em;
}

#newDish *{
    margin: auto;
}

#newDish #squareEdit{
    width: 55%;
    height: 25em;
}

#newDish form{
    display: grid;
    grid-template-rows: repeat(4, 3em);
    grid-template-columns: 35% 65%;
}

#addDish > :nth-child(1), #addDish > :nth-child(3), #addDish > :nth-child(5){
    margin-right: 5%;
    margin-left: auto;
}

#addDish :nth-child(7){
    grid-column: 1 / span 2; 
}

#myDialog > button{
    border: none;
    border-radius: 2em;
    height: 15%;
    width: 25%;
    margin-left: 35%;
}