section#newRestaurant{
    display: grid;
    grid-template-rows: 1em 3em 20em 2em;
}

#newRestaurant > *{
    margin: auto;
}

#squareEdit{
    width: 55%;
    height: 25em;
}

.newRestaurant form{
    display: grid;
    grid-template-rows: repeat(5, 3em);
    grid-template-columns: 35% 65%;
    grid-template-areas: 
    "nL name"
    "aL adrss"
    "pL phone"
    "cat cat"
    "add add"
}

.newRestaurant form > :nth-child(1) {
    grid-area: nL;
    margin-right: 5%;
    margin-left: auto;
}

.newRestaurant form > :nth-child(2){
    grid-area: name;
}

.newRestaurant form > :nth-child(3){
    grid-area: aL;
    margin-right: 5%;
    margin-left: auto;
}

.newRestaurant form > :nth-child(4){
    grid-area: adrss;
}

.newRestaurant form > :nth-child(7){
    grid-area: pL;
    margin-right: 5%;
    margin-left: auto;
}

.newRestaurant form > :nth-child(8){
    grid-area: phone;
}

.newRestaurant form > :nth-child(5){
    grid-area: cat;
    margin-top: 10%;
}

.newRestaurant form > :nth-child(9){
    grid-area: add;
    margin-top: 10%;
}

/* Dialog */

#myDialog{
    width: 50%;
    height: 30%;
}

#myDialog > h1:nth-child(1){
    color: var(--fundo-preto)
}

#listCategories ul{
    display: grid;
    grid-template-columns: repeat(4, auto);
    list-style-type: none;
}

#listCategories > input{
    width: 50%;
}

#myDialog > button{
    border: none;
    border-radius: 2em;
    height: 15%;
    width: 25%;
    margin-left: 35%;
}

@media (max-width: 60em) {
    #squareEdit{
        width: 60%;
        height: 2500%;
    }

    #newRestaurant{
        margin-bottom: 70%;
    }
}

@media (max-width: 30em) {
    #squareEdit{
        width: 100%;
        height: 2500%;
    }
}
