#newDish{
    display: grid;
    grid-template-rows: 1em 3em 19em 2em;
}

#newDish *{
    margin: auto;
}

#addDish{
    display: grid;
    width: 55%;
    grid-template-columns: 35% 65%;
    grid-template-areas:
    "nL name"
    "p1 p1"
    "pL price"
    "cL ctgr"
    "p3 p3"
    "add add"
    "sub sub"
}

#addDish :nth-child(1){
    grid-area: nL;
}

#addDish :nth-child(2){
    grid-area: name;
}

#addDish :nth-child(3){
    grid-area: p1;
}

#addDish :nth-child(4){
    grid-area: pL;
    margin-bottom: 15%;
}

#addDish :nth-child(5){
    grid-area: price;
    margin-bottom: 10%;
}

#addDish :nth-child(6){
    grid-area: cL;
}

#addDish :nth-child(7){
    grid-area: ctgr;
    width: 90%;
    margin-top: -1%;
}

#addDish :nth-child(8){
    grid-area: p3;
}

#addDish :nth-child(1), #addDish :nth-child(4), #addDish :nth-child(6){
    margin-right: 5%;
}

#addDish :nth-child(2), #addDish :nth-child(5){
    width: 90%;
    margin-top: -2.5%;
}

#addDish > *:not(p){
    min-height: 2em;
    max-height: 4em;
}

#addDish > p{
    min-height: 2em;
    max-height: 4em;
    color: rgb(159, 28, 28);
    margin-top: -1%;
}

#submit{
    grid-area: sub;
}