section#editRestaurant{
    display: grid;
    grid-template-rows: 1em 3em 19em 2em;
}

#editRestaurant > *{
    margin: auto;
}

#squareEdit{
    width: 55%;
    height: 2750%;
}

#editRestaurant form{
    display: grid;
    grid-template-columns: 30% 75%;
    grid-template-areas: 
    "nL name"
    "p1 p1"
    "aL adrss"
    "p2 p2"
    "cL city"
    "p3 p3"
    "pL phone"
    "p4 p4"
    "cat cat"
    "add add"
}

form#editRestaurant > :nth-child(1) {
    grid-area: nL;
}

form#editRestaurant > :nth-child(2){
    grid-area: name;
}

form#editRestaurant > :nth-child(3){
    grid-area: p1;
}

form#editRestaurant > :nth-child(4) {
    grid-area: aL;
}

form#editRestaurant > :nth-child(5){
    grid-area: adrss;
}

form#editRestaurant > :nth-child(6){
    grid-area: p2;
}

form#editRestaurant > :nth-child(7) {
    grid-area: cL;
}

form#editRestaurant > :nth-child(8){
    grid-area: city;
}

form#editRestaurant > :nth-child(9){
    grid-area: p3;
}

form#editRestaurant > :nth-child(12) {
    grid-area: pL;
}

form#editRestaurant > :nth-child(13){
    grid-area: phone;
}

form#editRestaurant > :nth-child(14){
    grid-area: p4;
}

form#editRestaurant > :nth-child(10){
    grid-area: cat;
    margin: 2.5% auto;
}

form#editRestaurant > :nth-child(16){
    grid-area: add;
    margin-top: 5%;
}

form#editRestaurant > label, form#editRestaurant > input, form#editRestaurant > button{
    min-height: 2em;
    max-height: 4em;
}

form#editRestaurant > p{
    min-height: 2em;
    max-height: 4em;
    color: rgb(159, 28, 28);
    margin-top: -1%;
}

/* Dialog */

#myDialog{
    width: 50%;
    height: 30%;
    flex-direction: column;
}

#myDialog > h1:nth-child(1){
    color: var(--fundo-preto)
}

#listCategories ul{
    display: grid;
    grid-template-columns: repeat(4, auto);
    list-style-type: none;
}

#listCategories > input{
    width: 50%;
}

#myDialog > button{
    border: none;
    border-radius: 2em;
    height: 15%;
    width: 25%;
    margin-left: 35%;
}


@media (max-width: 60em) {
    #myDialog{
        width: 80%;
    }
    #listCategories ul{
        display: grid;
        grid-template-columns: repeat(3, auto);
        list-style-type: none;
    }

}

@media (max-width: 30em) {
    #myDialog{
        height: 50%;
    }
    #listCategories ul{
        display: grid;
        grid-template-columns: repeat(2, auto);
        list-style-type: none;
    }
}