section#edit_profile{
    display: grid;
    grid-template-rows: 1em 3em 19em 2em;
}

#edit_profile > *{
    margin: auto;
}

form#edit_profile{
    display: grid;
    width: 55%;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "nL name"
    "p1 p1"
    "eL email"
    "p2 p2"
    "aL addr"
    "p3 p3"
    "pL phone"
    "p4 p4"
    "edit edit"
}

form#edit_profile :nth-child(1) {
    grid-area: nL;
}

form#edit_profile :nth-child(2){
    grid-area: name;
}

form#edit_profile :nth-child(3){
    grid-area: p1;
}

form#edit_profile :nth-child(4){
    grid-area: eL;
}

form#edit_profile :nth-child(5){
    grid-area: email;
}

form#edit_profile :nth-child(6){
    grid-area: p2;
}

form#edit_profile :nth-child(7){
    grid-area: aL;
}

form#edit_profile :nth-child(8){
    grid-area: addr;
}

form#edit_profile :nth-child(9){
    grid-area: p3;
}

form#edit_profile :nth-child(10){
    grid-area: pL;
}
form#edit_profile :nth-child(11){
    grid-area: phone;
}

form#edit_profile :nth-child(12){
    grid-area: p4;
}

form#edit_profile :nth-child(14){
    grid-area: edit;
    width: 30%;
}

form > *:not(p){
    min-height: 2em;
    max-height: 4em;
}

form > p{
    min-height: 2em;
    max-height: 4em;
    color: rgb(159, 28, 28);
    margin-top: -1%;
}


form#edit_profile :nth-child(1), form#edit_profile :nth-child(4), form#edit_profile :nth-child(7), form#edit_profile :nth-child(10){
    margin-right: 5%;
}

form#edit_profile :nth-child(2), form#edit_profile :nth-child(5), form#edit_profile :nth-child(8), form#edit_profile :nth-child(11){
    width: 90%;
    margin-top: -2.5%;
}


