#mainDiv{
    padding:0;
    margin-right: 28%;
    width: 55%;
}

#mainDiv.restaurant > *:not(#restaurant){
    padding: 1em;
}


/* Intro */

#restaurant{
    display: flex;
    flex-direction: column;
}

#restaurant *{
    margin: auto;
}

#restaurant > section{
    display: flex;
}

/* Dishes */

#mainDiv.restaurant #dishes section{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    margin-top: 4em;
}

#mainDiv.restaurant #dishes section article *{
    padding-top: 0.25em;
    padding-left: 0.25em;
}


#mainDiv.restaurant #dishes h1{
    position: absolute;
    margin-top: -2em;
    width: 50%
}

#mainDiv.restaurant #dishes section article{
    position: relative;
    margin: 0;
    width: 98%;
}

#mainDiv.restaurant #dishes section article :nth-child(2){
    position: absolute;
    top: 50%;
    left: 5%;
    max-width: 85%;
}

#mainDiv.restaurant #dishes section article :nth-child(3){
    position: absolute;
    bottom: 27.5%;
    left: 5%;
}

#mainDiv.restaurant #dishes section article :nth-child(4){
    position: absolute;
    top: 5%;
    right: 5%;
}

#mainDiv.restaurant #reviews article > p{
    padding: 0.5em;
    margin-top: 0.25em;
}


/* Reviews */

#mainDiv.restaurant #reviews article{
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}

#mainDiv.restaurant #reviews article div{
    display:flex;
}

#mainDiv.restaurant #reviews article div *{
    margin: 0;
}

#mainDiv.restaurant #reviews article div :last-child{
    text-decoration: underline;
}

#mainDiv.restaurant #reviews article div > p:nth-child(2){
    margin-left: auto;
    margin-right: 2.5%;
}

#mainDiv.restaurant #reviews article p, #mainDiv.restaurant #reviews article p b{
    text-transform: none;
}

.review_response{
    margin: 0 5% 0 auto;
    text-decoration: underline;
}
#reviews > article > form:nth-child(4){
    flex-direction: column;
}

#response{
    resize: none;
    border-radius: 0.75em;
    border: 1px solid #00000088;
    background-color: #DEDEDE;
    text-transform: none;
}

#reviews > article > form > button{
    border: 0;
    border-radius: 1em;
    width: 50%;
    margin: 0.5% auto;
}

/* New Review */

#mainDiv.restaurant #newReview form{
    display: grid;
    grid-template-columns: 9.5% 10% auto;
    grid-template-areas: 
    "st1 st2 st3"
    "cmt cmt cmt"
    "btn btn btn";
}

#mainDiv.restaurant #newReview #reviewForm div{
    grid-area: st3;
}

#mainDiv.restaurant #newReview #reviewForm #review{
    grid-area: cmt;
    border-radius: 0.75em 0.75em 0.75em 0.75em;
    padding-left: 1%;
    margin-top: 1em;
}

#mainDiv.restaurant #newReview #reviewForm button{
    grid-area: btn;
    margin: 1.5em 0;
    height: 50%;
}

#mainDiv.restaurant #newReview #reviewForm p{
    margin: 0;
}

/* Answer Review */

.response{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-right: 0%;
    margin-left: auto;
    padding: 1%
}

.response > p{
    background-color:#DEDEDE;
    border-radius: 1em;
    border: 1px solid black;
    width: 100%;
    padding-left: 1%;
}