#side-menu.sort form *{
    margin: 5% auto;
}

#side-menu.sort form{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
    "sch sch"
    ". ."
    ". ."
    ". ."
    "btn btn";
}

#side-menu.sort input{
    grid-area: sch;
    width: 90%;
    height: 55%;
}

#side-menu.sort button{
    grid-area: btn;
    width: 45%;
    height: 60%;
    margin-left: 25%;
}

#side-menu.sort select{
    width: 95%;
}

#side-menu.sort .price{
    padding-right: 95%;
    margin-top: -2%;
}

#side-menu.sort select, #side-menu.sort option{
    border: 0;
}

#side-menu.sort option{
    border-radius: 1em;
}


#listRestaurants{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(auto, auto);
}