#squareEdit{
    background: linear-gradient(to bottom, #35B557, #3C814E);
    border-radius: 2em;
}


#mainDiv > section > form > input{
    border: none;
    background-color: transparent;
    border-bottom: 3px solid var(--branco-verde);
    text-transform: none;
    text-align: center;
    color: var(--branco-verde);
    width: 90%;
}

#newDish label, #newDish h1{
    color: var(--branco-verde);
    font-weight: bold;
}

#side-menu > *{
    font-size: 150%;
}

form > button{
    background-color: #EBFFF1;
    color: rgba(60,129,78,1);
    border: none;
    border-radius: 2em;
    height: 75%;
    width: 35%;
}

form > button:hover{
    background-color: #51BD7E;
    color: #EBFFF1;
}

#side-menu > a:nth-child(3){
    border-top: 2px solid var(--fundo-preto);
    border-bottom: 2px solid var(--fundo-preto);
}

#squareEdit{
    width: 55%;
    height: 2500%;
}

@media (max-width: 60em) {
    #squareEdit{
        width: 60%;
        height: 2500%;
    }

    #newDish{
        margin-bottom: 70%;
    }

}

@media (max-width: 30em) {
    #squareEdit{
        width: 100%;
        height: 2500%;
    }

    #addDish{
        width: 100%;
    }
}