/* password */

#changePassword{
    text-align: center;
}

#changePassword input{
    border: none;
    background-color: transparent;
    border-bottom: 3px solid var(--branco-verde);
    text-transform: none;
    text-align: center;
    color: var(--branco-verde);
}

#changePassword label{
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    color: var(--branco-verde);
    font-weight: bold;
}

#changePassword h1{
    color: var(--branco-verde);
}

#changePassword form #submit:hover{
    background-color: #51BD7E;
}

#squareEdit{
    background: linear-gradient(to bottom, #35B557, #3C814E);
    border-radius: 2em;
}

#side-menu > a:nth-child(2){
    border-top: 2px solid var(--fundo-preto);
    border-bottom: 2px solid var(--fundo-preto);
}

#squareEdit{
    width: 55%;
    height: 2000%;
}

@media (max-width: 60em) {
    #squareEdit{
        width: 60%;
        height: 2500%;
    }

    #changePassword{
        margin-bottom: 70%;
    }
    
    #mainDiv{
        padding-bottom: 50%;
    }

}

@media (max-width: 30em) {
    #squareEdit{
        width: 100%;
        height: 2500%;
    }

    form#changePassword{
        width:100%;
    }
}
