#squareEdit{
    background: linear-gradient(to bottom, #35B557, #3C814E);
    border-radius: 2em;
}

#mainDiv.editRestaurant label, #editRestaurant h1, #newDish h1{
    color: var(--branco-verde);
    font-weight: bold;
}

#manageDishes > h1:nth-child(1){
    font-size: 150%;
    border-bottom: 2px solid black;
}

#mainDiv > section > form > input{
    border: none;
    background-color: transparent;
    border-bottom: 3px solid var(--branco-verde);
    text-transform: none;
    text-align: center;
    color: var(--branco-verde);
    width: 90%;
}

#mainDiv.editRestaurant form > button{
    background-color: #EBFFF1;
    color: rgba(60,129,78,1);
    border: none;
    border-radius: 2em;
    height: 75%;
    width: 35%;
}

#mainDiv.editRestaurant form > button:hover{
    background-color: #51BD7E;
    color: #EBFFF1;
}

#listDishes article{
    margin: auto;
}

#listDishes article p{
    color: white;
    text-shadow: .2em .2em .3em black;
    -webkit-text-stroke: .5px black;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#listDishes article p:hover{
    overflow:visible;
    text-overflow: clip;
    -webkit-line-clamp: 3;
}

#listDishes article :nth-child(1){
    border-radius: 25%;
    width: 95%;
    height: 95%;
}