#squareEdit{
    background: linear-gradient(to bottom, #35B557, #3C814E);
    border-radius: 2em;
}


#edit_profile input{
    border: none;
    background-color: transparent;
    border-bottom: 3px solid var(--branco-verde);
    text-transform: none;
    text-align: center;
    color: var(--branco-verde);
    width: 90%;
}

#edit_profile label{
    color: var(--branco-verde);
    font-weight: bold;
}

#edit_profile:nth-child(1){
    color: var(--branco-verde);
}

#edit_profile form #submit:hover{
    background-color: #51BD7E;
}

/* password */

#changePassword input{
    border: none;
    background-color: transparent;
    border-bottom: 3px solid var(--branco-verde);
    text-transform: none;
    text-align: center;
    color: var(--branco-verde);
    width: 90%;
}

#changePassword label{
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    color: var(--branco-verde);
    font-weight: bold;
}

#changePassword h1{
    color: var(--branco-verde);
}

#changePassword form #submit:hover{
    background-color: #51BD7E;
}
