/* side-menu */

#side-menu.index > *{
    font-weight: bold;
}

#side-menu.index li {
    padding: 0 10%;
    opacity: 0;
    transition: all 1s ease;
}

#hamburger, #price{
    display: none;
}

#hamburger:checked + .hamburger + ul li{
    padding: 5% 10%;
    opacity: 1;
    transition: all 1s ease;
}

/* mainDiv */

.order button{
    border: 0;
    padding: 0 5em;
    border-radius: 5em;
}

.dropdown{
    position: relative;
    display: inline-block;
    margin: auto 20% auto auto;
    height: 50%;
    width: 35%;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--fundo-branco);
    width: 275%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.25);
    right: 0;
    margin-top: -5%;
}
  
.dropdown-content a {
    color: var(--fundo-preto);
    padding: 6% 8%;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: var(--fundo-cinza);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropdown-content a{
    color: var(--fundo-preto);
}


/* Mini Preview */

#bestRestaurants input[type=radio] {
    display: none;
 }

#controls label {
    cursor:pointer;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    background-color: rgba(0, 0, 0, 0.300);
    opacity: .4;
    border-radius: 0.25em;
}

#controls label:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.200);
    border-radius: 0.25em;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(1){
    color: #000;
}
 
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(2){
    color: #000;
    transform: rotate(180deg);
}


.miniPreview:hover{
    background-color: #0000002d;
    border-radius: 0.5em;
}

.miniPreview > :nth-child(2){
    font-size: 65%;
}

.miniPreview > :nth-child(3){
    font-weight: bold;
    font-size: 85%;
}

.miniPreview > :nth-child(4), .miniPreview > :nth-child(5), .miniPreview > :nth-child(6){
    font-size: 75%;
}
