/* mainDiv */

#search .order button{
    border: 0;
    padding: 0 5em;
    border-radius: 5em;
}

#search .RegisterLink{
    color: var(--fundo-preto);
}


/* Mini Preview */

.controls button {
    font-size: 200%;
    background: rgb(0,0,0, 0.6);
    border: none;
    border-radius: 0.25em;
    color: var(--fundo-branco);
}

.controls button:hover {
    background: rgb(0,0,0, 0.8);
    color: #b5ffc4;
}

@media (max-width: 60em) {

    .controls button {
        font-size: 175%;
    }

    .controls button.next {
        right: 10%;
        top: 42.5%;
    }
      
    .controls button.prev {
        left: 77.5%;
        top: 42.5%;
    }

    .slider section{
        flex-basis: 5%;
    }
}

@media (max-width: 30em) {
    .controls button {
        font-size: 150%;
    }

    .controls button.next {
        right: 10%;
        top: 40%;
    }
      
    .controls button.prev {
        left: 72.5%;
        top: 40%;
    }

    .slider section{
        flex-basis: 6.75%;
    }
}