#manageDishes > h1:nth-child(1){
    font-size: 150%;
    border-bottom: 2px solid black;
}

#listDishes article{
    margin: auto;
}

#listDishes article p{
    color: white;
    text-shadow: .2em .2em .3em black;
    -webkit-text-stroke: .5px black;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#listDishes article p:hover{
    overflow:visible;
    text-overflow: clip;
    -webkit-line-clamp: 3;
}

#listDishes article :nth-child(1){
    border-radius: 25%;
    width: 95%;
    height: 95%;
}

#side-menu > *{
    font-size: 150%;
}

#side-menu > a:nth-child(2){
    border-top: 2px solid var(--fundo-preto);
    border-bottom: 2px solid var(--fundo-preto);
}

@media (max-width: 60em) {
    #manageDishes{
        margin-bottom: 70%;
    }
}
