.register input::placeholder{
    text-transform: lowercase;
}

#registerForm input{
    border: none;
    background-color: transparent;
    border-bottom: 3px solid #EBFFF1;
    text-transform: none;
    width: 70%;
}

#squareRegister{
    background: linear-gradient(to bottom, #35B557, #3C814E);
    border-radius: 2em;
}

#registerForm #cancel{
    color: #EBFFF1;
    background-color: transparent;
    font-weight: normal;
}

.LoginLink > h5{
    text-decoration: underline;
}

@media (max-width: 60em) {
    #squareRegister{
        width: 60%;
        height: 3700%;
    }

    #mainDiv{
        padding-bottom: 50%;
    }
}

@media (max-width: 30em) {
    #squareRegister{
        width: 100%;
        height: 3700%;
    }

    form#registerForm{
        width: 100%;
    }
}