/* Intro */

#restaurant > :nth-child(2){
    font-size: 250%;
    font-weight: bold;
}

#restaurant > :nth-child(3){
    font-size: 175%;
}

#restaurant > :nth-child(4){
    font-size: 125%;
}

#restaurant > section:nth-child(3) > p:not(:last-child)::after{
    content: ". ";
    font-weight: bold;
}

#restaurant > section:nth-child(3) > p:not(:first-child)::before{
    content: ". ";
    color: transparent;
    font-size: 60%;
}

/* Dishes */

#mainDiv.restaurant #dishes h1{
    font-size: 150%;
    border-bottom: 2px solid black;
}

#mainDiv.restaurant #dishes section article :nth-child(1){
    border-radius: 25%;
    width: 95%;
    height: 95%;
}

#mainDiv.restaurant #dishes section article{
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


#mainDiv.restaurant #dishes section article:hover{
    background-color: #00000044;
    border-radius: 15%;
    cursor: pointer;
}

#mainDiv.restaurant #dishes section article p{
    color: white;
    text-shadow: .2em .2em .3em black;
    -webkit-text-stroke: .5px black;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#mainDiv.restaurant #dishes section *:hover{
    overflow:visible;
    text-overflow: clip;
    -webkit-line-clamp: 3;
}

#mainDiv.restaurant #reviews article > p{
    background-color:#DEDEDE;
    border-radius: 1em;
    border: 1px solid black;
    margin-bottom: 1%;
}


/* Reviews */

#mainDiv.restaurant #reviews article p, #mainDiv.restaurant #reviews article p b{
    text-transform: none;
}

button.review_response {
    background:none;
    border:none;
    color: black;
    width: 10%;
}


/* New Review */

#mainDiv.restaurant #newReview #reviewForm #review{
    resize: none;
    border-radius: 0.75em;
    border: 1px solid #00000088;
    background-color: #DEDEDE;
    text-transform: none;
}

#mainDiv.restaurant #newReview #reviewForm #review::placeholder{
    text-transform: capitalize;
}

#mainDiv.restaurant #newReview #reviewForm #review:focus{
    outline: none;
}

#mainDiv.restaurant #newReview #reviewForm button{
    border: 0;
    border-radius: 5em;
}

#reviewForm > p:nth-child(3){
    color: #00000088;
}

.ratingContainer{
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 10px 0;
}

.rating{
    position: relative;
    display: flex;
    margin: 0;
    flex-direction: row-reverse;
}
.rating *{
    margin: 0;
}
.rating input{
    position: relative;
    width: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin-top: -10%;
}

.rating input::before{
    content: '\f005';
    position: absolute;
    font-family: fontAwesome;
    font-size: 34px;
    left: 4px;
    transition: 0.25s;
}

.rating input:nth-child(2n+1)::before{
    right: 4px;
    left: initial;
}

.rating input:hover ~ input::before,
.rating input:hover::before,
.rating input:checked ~ input::before,
.rating input:checked::before{
    color: #dabd2d;
}

/* side-menu */

#side-menu.restaurant li{
    font-size: 175%
}

#side-menu > ul{
    padding: 0;
}


#ads table {
    border-collapse: collapse;
    margin: 1em 0;
    width: 100%;
  }
  
  #ads th, #ads td {
    padding: 1em;
    text-align: center;
  }
  
  #ads tfoot th:last-child::after{
    content: "€";
  }
  
  #ads tr {
    background-color: #ffddd2;  
    border: 5px solid white;
  }
  
  #ads thead tr, #ads tfoot tr  {
    background-color: #edf6f9;
  }

  #ads > table:nth-child(1) > thead:nth-child(2) > tr:nth-child(1) > th:nth-child(5){
    visibility: collapse;
  }
