#side-menu.sort input{
    border-radius: 1em;
}

#side-menu.sort button{
    border-radius: 1em;
    border: 0;
}

#side-menu.sort select{
    border-radius: 1em;
    background-color: #DEDEDE;
    cursor: pointer;
    text-align: center;
}

.price:before {
    font-size: 1.80em;
    content:'\2197';
}

#price:checked + .price:before {
    font-size: 1.80em;
    content:'\2199';
}

#side-menu *{
    font-size: 100%;
}