#user{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#user > *{
    margin: 1.5% auto;
}

#user > p:nth-child(3){
    text-transform: none;
}

#user img{
    border-radius: 100%;
    border: 5px solid #00000088;
}

#favDishes > h3{
    background-color:#DEDEDE;
    margin: 0;
    padding: 5% 29%;
    border: 1px solid #000000;
    border-radius: 1em;
}

#favRestaurants > h3{
    background-color:#DEDEDE;
    margin: 0;
    padding: 5% 25%;
    border: 1px solid #000000;
    border-radius: 1em;
}